@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background-color: rgb(236, 251, 255);
    margin: 0;
}

header {
    border-bottom: 5px solid #1500ff;
    background-color: #0077ff;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    box-shadow: 0 4px 8px #00000033;
}

li a {
    font-family: cursive, sans-serif;
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

#Perfil {
    text-align: center;
    border-radius: 10px;
    border-left: 5px solid #1500ff;
    border-right: 5px solid #1500ff;
    margin: 35px 100px 75px 100px;
    background-color: #89c0ff;
    font-family: cursive;
    padding: 1px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#Perfil:hover {
    /* Esto hace que los margenes se muevan de forma más limpia hacia los lados y no del tiron */
    transition: margin-left 0.3s ease, 
                margin-right 0.3s ease;
    /* Esto hace que al pasar por encima el ratón los margenes cambien y se extienda el contenedor */
    margin-left: 50px;
    margin-right: 50px;
}

#Actividades {
    text-align: center;
    font-family: Anton;
    background-color: #89c0ff;
    border-top: 5px solid #1500ff;
    border-bottom: 5px solid #1500ff;
    box-shadow: 0 4px 8px #00000033;
}


.contenedor-cajas {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#html, #css {
    border-radius: 10px;
    border-left: 5px solid #1500ff;
    border-right: 5px solid #1500ff;
    margin: 35px 0;
    background-color: #89c0ff;
    box-shadow: 0 4px 8px #00000033;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex: 1;
}

#html h3, #css h3 {
    text-align: center;
    font-family: Anton;
    margin-bottom: 0.5rem; 
}

#html ul, #css ul {
    padding: 0; 
    text-align: center; 
    list-style: none;
    font-family: cursive;
    margin-bottom: 0;
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li a:hover {
    background-color: #004cff;
    padding: 0 10px;
}

footer {
    background-color: #b0b0b0;
    border-top: 5px solid #1500ff ;
    text-align: center;
    color: rgb(9, 0, 37);
    padding: 20px;
    font-family: monospace;
    font-size: 15px;
}

