/* Referencia de colores que usaremos */
:root {
    --color_fondo: #f3fdbc;
    --color_nav: #ffabab;
    --color_borde_destacado: #ff9e26;
    --color_fondo_destacado: #ffe7c3;
}

body {
    /* Para centrar horizontalmente los contendores */
    margin: 0 auto;
    background-color: var(--color_fondo);
    /* El padding y el borde se incluyen dentro dle alto y el ancho total */
    box-sizing: border-box;
}

p {
    /* Fuente para todos los parrafos */
    font-family: Arial;
}

/* Estilo de la cabezera de header */
header h1 {
    font-family: Audiowide;
    text-align: center;
    color: blue;
}

/* Estilo del menú de navegación */
header nav {
    background-color: var(--color_nav);
    margin: 20px;
    list-style-type: none;
}

/* Estilo de las opciones de navegación, quitando el estilo ul */
header nav ul {
    list-style-type: none;  
    padding: 0; 
}

/* Estilo de la navegación como bloques */
header nav li{
    
    float: left;
    padding: 16px 30px ;
    color:blue;
}

header nav a {
    text-decoration: none;
}

/*Efecto al pasar por encima el cursor */
header nav li:hover {
    background-color: #ffe6e6;
}

header nav li a:hover {
     color: red
}

nav::after {
    display: block;
    content: "";
    clear: both;
}

/* Cuadro de borde discontinuo */
#destacado { 
    border: 3px dashed var(--color_borde_destacado);
    background-color: var(--color_fondo_destacado);
    margin-top: 1.2rem;
    padding: 15px;
    margin: 20px;
}
.centrado {
    margin: 0 auto;
}
/* Cajas de información */
.caja{
    float: left;
    border: 3px solid blue
}

.caja p:first-child {
    font-weight: bold;
    text-decoration: underline; 
}

.caja p {
    color: green;
    display: block;
    clear: both;
    margin: 20px 100px 20px 20px;
}

.caja p:nth-of-type(2) {
    clear: both;
    padding: 5px;
}

.izquierda {
    margin: 30px 20px 0px 0px;
    width: 150px;
}

.derecha {
    width: 150px;
    float: right;
}

footer {
    clear: both;
}

footer p:nth-of-type(2) {
    color: #9e9e9e;
    font-style: italic;
}


